@page
@model LoginModel

@{
    ViewData["Title"] = "Login Into Your Account";
}

<div class="align">
    <h1>@ViewData["Title"]</h1>
    <div class="row" id="row">
            <section class="login-form">
                <form id="account" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <!--<span asp-validation-for="Input.Email" class="text-danger"></span> -->
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" value="normalLogin">Log in</button>
                    </div>

                    <div><!--
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        -->
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>

                        <!--
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                        -->
                    </div>
                </form>
                <br />

                <h3>Test Account Logins:</h3>
                <form method="post">
                    <div class="dev-buttons">
                        <input type="submit" asp-page-handler="GeneralLogin" value="General User Login" class="w-100 btn btn-lg btn-secondary" />
                        <input type="submit" asp-page-handler="ProductionControlLogin" value="Production Control Login" class="w-100 btn btn-lg btn-secondary" />
                        <input type="submit" asp-page-handler="SupervisorLogin" value="Supervisor Login" class="w-100 btn btn-lg btn-secondary" />
                        <input type="submit" asp-page-handler="AdminLogin" value="Admin Login" class="w-100 btn btn-lg btn-secondary" />
                        <input type="submit" asp-page-handler="SuperUserLogin" value="SuperUser Login" class="w-100 btn btn-lg btn-secondary" />
                    </div>
                </form>

            </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>

    .login-form{
        min-width: 400px;
    }

    .login-form h3 {
        text-align: center;
    }

    @@keyframes slideInFromBottom {
        0% {
            transform: translateY(100%);
            opacity: 0.0;
        }
        100% {
            transform: translateY(0%);
            opacity: 1.0;
        }
    }

    .align {
        animation: 0.5s ease-out 0s 1 slideInFromBottom;

        display:grid;
        place-items: center;
    }
    .dev-buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 2em;
        height: 300px;
    }

    .dev-buttons btn{
        padding: 10px 0;
    }

    
</style>

